.card {
  background: white;
  width: 250px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
  color: black;
}

.image-placeholder {
  width: 100%;
  height: 150px;
  background: #e0e0e0;
  border-radius: 10px;
  margin-bottom: 15px;
}

.price {
  font-size: 20px;
  font-weight: bold;
}

.stock {
  padding: 8px 15px;
  border-radius: 20px;
  font-weight: bold;
}

.in {
  background-color: #d4edda;
  color: #155724;
}

.out {
  background-color: #f8d7da;
  color: #721c24;
}
